$default-font: Arial,
sans-serif;


// Переменные для блока
$fz:100px;
$color_basic:#445162;
$color_2: #989898;
$color_white: #ffffff;
$color_text:#333333;
$color_bacground: #F5F5F5;
$color_comment: #EBEBEB;